{erl_opts, [
    debug_info,
    inline_list_funcs,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_import,
    warnings_as_errors
]}.

{cover_enabled, true}.

{deps, []}.

{relx, [
    {
        release,
        {ebot, "0.1.0"},
        [ebot, sasl, {observer, load}, {wx, load}, {runtime_tools, load}]
    },
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
      {relx, [
        {dev_mode,      false},
        {include_erts,  true},
        {sys_config,    "./config/sys.config"},
        {vm_args,       "./config/vm.args"}
      ]},
      {cover_enabled, false}
    ]},
    {dev, [
      {relx, [
        {dev_mode,      false},
        {include_erts,  true},
        {sys_config,    "./config/sys.config"},
        {vm_args,       "./config/vm.args"}
      ]},
      {cover_enabled, false}
    ]},
    {test, [
      {relx, [
        {dev_mode, false}
      ]},
      {cover_enabled, false}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

%%------------------------------------------------------------------
%% Dependencies and Plugins
%%------------------------------------------------------------------

{plugins, [
    {rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.
