{erl_opts, [
    debug_info,
    inline_list_funcs,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_import,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
    {slacker, ".*", {git, "git://github.com/shaneutt/slacker.git", {branch, "master"}}},
    {websocket_client, {git, "git://github.com/shaneutt/websocket_client.git", {branch, "master"}}},
    {lager, {git, "https://github.com/basho/lager", {branch, "master"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {egithub, {git, "git://github.com/inaka/erlang-github.git", {branch, "master"}}}
]}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
                 {compile, {pc, compile}},
                 {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
